.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(194, 228, 156, 0.5)), to(rgba(100, 179, 244, 0.5))), url(img/hero1.jpg) no-repeat;
  background: linear-gradient(90deg, rgba(194, 228, 156, 0.5), rgba(100, 179, 244, 0.5)), url(img/hero1.jpg) no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.hero h1 {
  width: 100%;
  position: absolute;
  font-size: 60px;
  top: 40%;
  color: white;
}

nav {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.img {
  overflow: hidden;
  height: 180px;
  margin: 20px;
}

@media (max-width: 768px) {
  .img {
    height: 300px;
  }
}

.img img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.skills {
  padding: 0;
}

.skill {
  margin: 20px 0;
}

.skill:hover i {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.skill .icon {
  width: 50px;
  height: 50px;
}

.skill .icon i {
  font-size: 50px;
  margin-top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.skill .text {
  padding: 0;
}

.skill .text p {
  margin: 0;
  font-size: 14px;
}

.container-fluid {
  padding: 0;
}

.container-fluid > div:nth-child(even) {
  background-color: #eee;
}

.container-fluid .title {
  margin: 10px 0 40px;
  font-size: 40px;
}

@media (max-width: 768px) {
  .container-fluid .title {
    margin: 10px 0 40px;
  }
}

.badge {
  width: 100px;
}

.profile {
  padding: 0 30px;
}

.profile p {
  padding: 30px 0;
}

@media (max-width: 586px) {
  .profile {
    padding-top: 30px;
  }
}

.contact {
  background: -webkit-gradient(linear, left top, right top, from(rgba(194, 228, 156, 0.5)), to(rgba(100, 179, 244, 0.5)));
  background: linear-gradient(90deg, rgba(194, 228, 156, 0.5), rgba(100, 179, 244, 0.5));
  color: white;
}

.contact .title {
  margin-bottom: 10px;
}

.contact a {
  color: white;
}

footer h5 {
  font-size: 0.8rem;
}

footer li a {
  color: black;
}

.portfolio .img {
  margin: 0;
}

.portfolio .text {
  color: black;
  padding: 20px 0;
  text-align: center;
}

table tr th {
  width: 30%;
  vertical-align: top;
}

table tr th, table tr td {
  padding: 5px 0;
}
